<div class="container mt-5">
        <div class="text-center">
            <h1 class="display-4 text-danger">Error del Servidor - 500</h1>
            <p class="lead">Hubo un error interno en el servidor. Por favor, intenta de nuevo más tarde.</p>
        </div>
    </div>