<div class="container mt-5">
    <div class="text-center">
            <h1 class="display-4 text-danger">Error con la Solicitud - 400</h1>
            <p class="lead">Hubo un problema con la solicitud. Por favor, verifica los datos enviados e intenta nuevamente.</p>
        </div>
    </div>