body {
    text-align: left; 
}

.separator-container {

    text-align: left;
    margin: 20px auto; /* Añadir espacio entre las secciones */
    padding: 20px; /* Añadir espacio interno */
    border: 1px solid #ccc; /* Añadir borde para separar visualmente las secciones */
    background-color: #f9f9f9; /* Color de fondo */
}
.contenedor-mapa {
    height: 600px;
}