@model PolicyViewModel

<div class="scroll-container">

    <h2>Polizas contratadas:</h2>
    <div class="card-container" id="cardContainer">
        <div class="row">
            @if (Model.PolicyList.Any())
            {
                @foreach (var item in Model.PolicyList)
                {
                    <div class="col-sm-6 col-md-4 col-lg-2 mb-4">
                        <div class="card" style="width: 18rem;">
                            <img class="card-img-top" src="..." alt="Card image cap">
                            <div class="card-body">
                                <h5 class="card-title">@item.StartTerm</h5>
                                <p class="card-text">@item.EndTerm</p>
                                <p class="card-text">@item.Price</p>
                                <p class="card-text">@item.PolicyType</p>

                            </div>
                        </div>
                    </div>
                }
            }
            else
            {
                <div class="container my-2">
                    <h1 class="text-danger"> No se encontraron polizas.</h1>    
                </div>
            }
        </div>
    </div>
</div>