<div class="container mt-4">
    <div class="row">
        <div class="col-lg-4 col-md-6 mb-4">
            <h5>Modelo:</h5>
            <p>Modelo del carro</p>
        </div>

        <div class="col-lg-4 col-md-6 mb-4">
            <h5>Color:</h5>
            <p>Color del carro</p>
        </div>

        <div class="col-lg-4 col-md-6 mb-4">
            <h5>Marca:</h5>
            <p>Marca del carro</p>
        </div>

        <div class="col-lg-4 col-md-6 mb-4">
            <h5>Año:</h5>
            <p>Año del carro</p>
        </div>

        <div class="col-lg-4 col-md-6 mb-4">
            <h5>Número de Serie:</h5>
            <p>Número de serie del carro</p>
        </div>

        <div class="col-lg-4 col-md-6 mb-4">
            <h5>Número de Placas:</h5>
            <p>Número de placas del carro</p>
        </div>
    </div>
</div>