@using HDIClient.DTOs;
@using Microsoft.AspNetCore.Identity


<ul class="navbar-nav">
    @if (User.Identity.IsAuthenticated)
    {
        <li class="nav-item">
            <a class="nav-link text-dark">Hola @(User.Identity?.Name)!</a>
        </li>
        <form asp-controller="Home" asp-action="Logout" method="post" id="logoutForm" style="display: none;">
            
        </form>
        <li class="nav-item">
            <a class="nav-link text-dark" href="javascript:document.getElementById('logoutForm').submit()">Cerrar Sesión</a>

        </li>
    }
    else
    {
        <li class="nav-item">
            <a asp-controller="Account" asp-action="LoginView" class="btn btn-primary">Login</a>
        </li>
        
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="RegisterDriver" asp-action="RegisterDriverDos">Registrar Conductor</a>
        </li>
    }
</ul>