@{
    ViewData["Title"] = "Privacy Policy";
}

<h1>@ViewData["Title"]</h1>

    <p>Última actualización: 23/12/01</p>

    <h2>1. Información de Contacto</h2>
    <p>Nombre de la empresa: HDI SEguros S.A.de.C.V</p>
    <p>Dirección de correo electrónico de contacto: eduart_mx@hotmail.com</p>


<h2>2. Recopilación de Datos</h2>
<p>Recopilamos información personal cuando los usuarios se registran en nuestro sitio, llenan formularios, participan en encuestas y más.</p>

<h2>3. Datos Recopilados</h2>
<p>Los tipos de datos que recopilamos pueden incluir nombres, direcciones de correo electrónico, información demográfica, preferencias y más.</p>

<h2>4. Uso de la Información</h2>
<p>Usamos la información recopilada para personalizar la experiencia del usuario, mejorar nuestros productos y enviar correos electrónicos promocionales.</p>

<h2>5. Cookies y Tecnologías Similares</h2>
<p>Utilizamos cookies y tecnologías similares para mejorar la experiencia del usuario y realizar un seguimiento del comportamiento del usuario en nuestro sitio.</p>

<h2>6. Compartir Información con Terceros</h2>
<p>No compartimos información personal con terceros, excepto cuando sea necesario para brindar servicios solicitados por el usuario.</p>

<h2>7. Seguridad</h2>
<p>Implementamos medidas de seguridad para proteger la información personal de nuestros usuarios.</p>

<h2>8. Cambios en la Política de Privacidad</h2>
<p>Nos reservamos el derecho de actualizar nuestra política de privacidad en cualquier momento. Los cambios se publicarán en esta página.</p>

<h2>9. Contacto</h2>
<p>Para preguntas sobre nuestra política de privacidad, comuníquese con nosotros a través de info@miempresa.com.</p>