@model AseguradoraApp.Models.DriverClient

@{
    ViewData["title"] = "RegisterDriver";
}
<head>
    <link rel="stylesheet" href="~/css/registerDriver.css" />

</head>

<div class="background-image">
    <div class="conteiner">
        <h2 class="h2">Formulario de registro</h2>
        <br />
        <i class="fa-brands fa-youtube"></i>
        <br />
        <h3 class="h3">Nombre</h3>
        <input type="text" class="form-control form-control-lg col-md-1" placeholder="ingresa tu nombre/s">
        <br />
        <h3 class="h3">Apellido</h3>
        <input type="text" class="form-control form-control-lg col-md-1" placeholder="ingresa tu apellido/s">
        <br />
        <h3 class="h3">Fecha de nacimiento</h3>
        <input type="date" class="form-control" id="fecha" name="fecha">
        <br />
        <h3 class="h3">Numero de licencia de conducir</h3>
        <input type="text" class="form-control form-control-lg col-md-1" placeholder="ingresa tu numero de licencia">
        <br />
        <h3 class="h3">Numero telefonico</h3>
        <input type="tel" class="form-control form-control-lg col-md-1" placeholder="ingresa tu numero de licencia">
        <br />
        <h3 class="h3">contraseña</h3>
        <input type="password" class="form-control form-control-lg col-md-1" placeholder="ingresa tu contraseña">
        <br />
        <h3 class="h3">Repite la contraseña</h3>
        <input type="password" class="form-control form-control-lg col-md-1" placeholder="repite tu contraseña">
        <br />
        <div class="buttons">
           
            <button type="submit" class="btn btn-light">Cerrar</button>
            <button type="button" class="btn btn-light">Crear cuenta</button>

        </div>


    </div>

</div>



@*@model AseguradoraApp.Models.DriverClient

@{
    ViewData["title"] = "RegisterDriver";
}
<head>
    <link rel="stylesheet" href="~/css/registerDriver.css" />

</head>

<div class="conteiner">
        <div class=".contenedor-login">
            <h2 class="h2">Formulario de registro</h2>
            <br />
        <i class="fa-brands fa-youtube"></i>
            <br />
            <h3 class="h3">Nombre</h3>
            <input type="text" class="form-control form-control-lg col-md-1" placeholder="ingresa tu nombre/s">
        <br />
            <h3 class="h3">Apellido</h3>
            <input type="text" class="form-control form-control-lg col-md-1" placeholder="ingresa tu apellido/s">
        <br />
            <h3 class="h3">Fecha de nacimiento</h3>
            <input type="date" class="form-control" id="fecha" name="fecha">
        <br />
            <h3 class="h3">Numero de licencia de conducir</h3>
            <input type="text" class="form-control form-control-lg col-md-1" placeholder="ingresa tu numero de licencia">
        <br />
            <h3 class="h3">Numero telefonico</h3>
            <input type="tel" class="form-control form-control-lg col-md-1" placeholder="ingresa tu numero de licencia">
        <br />
            <h3 class="h3">contraseña</h3>
            <input type="password" class="form-control form-control-lg col-md-1" placeholder="ingresa tu contraseña">
        <br />
            <h3 class="h3">Repite la contraseña</h3>
            <input type="password" class="form-control form-control-lg col-md-1" placeholder="repite tu contraseña">
        </div>

</div>
*@




